// Place all the styles related to the decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb{
	width: 44px;
	height: 64px;
}

.pics{
	max-width:177;
	max-height: 254;

}
