<p id="notice"><%= notice %></p>
<div class="contanir">
	<div class="row">
		<div class="col-md-12 center">
			<h1><%= @deck.name %></h1>
		</div>
	</div>
	<div class="col-md-5">
		<% @deck.cards.each do |card| %>
		<img class="thumb" card-id="<%= card.id%>" src="http://133.242.18.124/thumbnail/<%= card.id%>.jpg" />
		<% end %>
	</div>
	<!-- //right -->
	<div class="col-md-6">
		<div class="col-md-6">
			<img class="pics" />
		</div>
		<% @deck.cards.each do |card| %>
		<div class="col-md-6 <%= card.id %> desc" style="display:none;">
			<p><%= card.name %></p>
			<span><%= card.desc%></span>
		</div>
		<% end%>
	</div>
	<div class="row">
		<a href="/decks/<%= @deck.id%>/download" type="button" class="col-md-12 btn btn-primary btn-lg">デッキをダウンロード</button>
			<%= link_to 'Edit', edit_deck_path(@deck) %> |
			<%= link_to 'Back', decks_path %>
		</div>
	</div>